<title>
anak.in
</title>
<meta http-equiv="date" content="2012-04-06" />
<style type="text/css">
  body {
  font-family: 'open sans', sans-serif;
}
h2, h3, h4, h5, h6 {
color: #B50;
}
h2 { 
  text-transform: uppercase;
}
/* links -------------- */

a:link, a:visited, a:active {
  color: #303a86;
  text-decoration: none;
  background-color: transparent;
}
a:visited {
  color: #606a86;
}
a:active {
  color: #303a86;
  background-color: #acf; 
}
a.offsite:hover {
  background-color: #99A;
  color: white;
  text-decoration: none;
  border-bottom: none;
  padding: 0.2em 0;
}

@media screen {
  a[type="application/pdf"]:after {
    content: " pdf";
    vertical-align: super;
    font-size: 0.75em;
  }
}

img { max-width: 100%; }

a img { border: none; }

</style>
<!-- include virtual="nav.inc" -->
<article>
<h1 class="title">
Anak.in
</h1>
</body>
</html>
